body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(89, 0, 255);
    text-align: center;
}

p{
    color: rgb(255, 0, 0);
    text-align: center;
}

button {
    color: red;
    background-color: rgb(255, 0, 242);
    height: 5rem;
    width: 10rem;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

}

button:hover {
    border: 2px solid orange;
    color: orange;
    background-color: transparent;
}

a{
    text-decoration: none;
    color: rgb(0, 255, 55);
    font-sze: 25px;
}
